#ifdef BUILD32
    #define FILENAME "superUser32.exe"
#elif BUILD64
    #define FILENAME "superUser64.exe"
#else
    #define FILENAME "superUser.exe"
#endif

1 VERSIONINFO
FILEVERSION 5,1,0,0
PRODUCTVERSION 5,1,0,0
FILEOS 0x40004
FILETYPE 0x1
{
	BLOCK "StringFileInfo"
	{
		BLOCK "000904b0"
		{
			VALUE "CompanyName", "Awoo~"
			VALUE "FileDescription", "Run any process with TrustedInstaller privileges"
			VALUE "FileVersion", "5.1"
			VALUE "InternalName", "superUser"
			VALUE "LegalCopyright", "Copyright (C) 2023"
			VALUE "OriginalFilename", FILENAME
			VALUE "ProductName", "superUser"
			VALUE "ProductVersion", "5.1"
		}
	}

	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0009, 0x04B0
	}
}

1 24 manifest.xml